<nav class="navbar navbar-dark bg-dark"> 
        <a class="navbar-brand">Productos</a>   
        <a href="http://localhost:8080/productos">Lista</a>     
         <a  href="http://localhost:8080/form">Formulario</a>
  
  </nav>